<!DOCTYPE html>
<html>
<head>
  <title>A Rails Demo App | <%= @title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen" %>
</head>
<body>

<%= yield %>

</body>
</html>
